<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{%static 'css/gallery.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" align=center>
  <a class="navbar-brand" href="masterpage.html">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="gallery.html">Gallery<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="editorial.html">Editorials <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.google.com/" target="_blank">Google</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          News
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="sports.html">Sports News</a>
          <a class="dropdown-item" href="entertainment.html">Entertainment news</a>
          <a class="dropdown-item" href="politics.html">Politics News</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<h1>Welcome to the gallery</h1><br><br><br>
<img src="{%static "images/n1.jpg"%}">
<img src="{%static "images/n2.jpg"%}">
<img src="{%static "images/n3.jpg"%}">
<img src="{%static "images/n4.jpg"%}">
<img src="{%static "images/n5.jpg"%}">
<img src="{%static "images/n6.jpg"%}">
<img src="{%static "images/n7.jpg"%}">
<img src="{%static "images/n8.jpg"%}">
<img src="{%static "images/n9.jpg"%}">
<img src="{%static "images/n10.jpg"%}>
<img src="{%static "images/n11.jpg"%}>
<img src="{%static "images/n1.jpg"%}">
<img src="{%static "images/n2.jpg"%}">
<img src="{%static "images/n3.jpg"%}">
<img src="{%static "images/n4.jpg"%}">
<img src="{%static "images/n5.jpg"%}">
<img src="{%static "images/n6.jpg"%}">
<img src="{%static "images/n7.jpg"%}">
<img src="{%static "images/n8.jpg"%}">
<img src="{%static "images/n9.jpg"%}">
<img src="{%static "images/n10.jpg"%}>
<img src="{%static "images/n11.jpg"%}>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
